body {
  display: none;
}

@-webkit-keyframes Right {
  0% {
    color: purple;
  }
  50% {
    color: #0094ff;
  }
  100% {
    color: orange;
  }
}

@keyframes Right {
  0% {
    color: purple;
  }
  50% {
    color: #0094ff;
  }
  100% {
    color: orange;
  }
}

.pyg_view {
  padding: 10px;
}

.pyg_view .pyg_peisong .pyg_peisong_title {
  color: #666;
  font-size: 14px;
}

.pyg_view .pyg_peisong .pyg_peisong_dizhi {
  padding: 7px 5px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-top: 3px;
}

.pyg_view .pyg_peisong .pyg_peisong_dizhi::before {
  display: inline-block;
  font-family: Muiicons;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  content: "\e583";
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #999;
}

.pyg_view .pyg_peisong .pyg_peisong_dizhi .mui-icon {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.pyg_view .pyg_peisong .pyg_peisong_dizhi .pyg_peisong_dizhi_tool {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.pyg_view .pyg_peisong .pyg_peisong_dizhi .pyg_peisong_dizhi_tool .pyg_peisong_dizhi_one {
  font-size: 16px;
}

.pyg_view .pyg_peisong .pyg_peisong_dizhi .pyg_peisong_dizhi_tool .pyg_peisong_dizhi_two {
  font-size: 12px;
  color: #666;
}

.pyg_view .pyg_dingdan {
  margin-top: 40px;
}

.pyg_view .pyg_dingdan .pyg_dingdan_title {
  font-size: 14px;
  color: #666;
}

.pyg_view .pyg_dingdan .pyg_dingdan_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 25px;
  background: #fff;
  position: relative;
  font-size: 14px;
}

.pyg_view .pyg_dingdan .pyg_dingdan_price::before {
  display: inline-block;
  font-family: Muiicons;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  content: "\e583";
  position: absolute;
  right: -5px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #999;
}

.pyg_view .pyg_dingdan .pyg_dingdan_price .pyg_dingdan_price_right {
  -webkit-animation: Right infinite 1s;
          animation: Right infinite 1s;
}

.pyg_view .pyg_shopping {
  margin-top: 40px;
}

.pyg_view .pyg_shopping .pyg_shopping_title {
  color: #666;
  font-size: 14px;
  padding-bottom: 5px;
}

.pyg_view .pyg_shopping ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  padding: 10px;
}

.pyg_view .pyg_shopping ul li .mui-checkbox {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.pyg_view .pyg_shopping ul li .mui-checkbox input {
  position: static;
}

.pyg_view .pyg_shopping ul li .pyg_shopping_img {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding-right: 10px;
}

.pyg_view .pyg_shopping ul li .pyg_shopping_content {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
}

.pyg_view .pyg_shopping ul li .pyg_shopping_content .pyg_shopping_content_top {
  font-size: 15px;
  color: #666;
  padding: 5px 0;
}

.delete_btn {
  display: none;
}

.mui-checkbox {
  display: none;
}

.mui-numbox {
  display: none;
}

body.big_box .delete_btn {
  display: block;
}

body.big_box .mui-checkbox {
  display: block;
}

body.big_box .mui-numbox {
  display: inline-block;
}
/*# sourceMappingURL=cart.css.map */