 .pyg_view{
     form{
         margin:20px 0 20px;
     }
     .queren_btn{
         button,a{
             display:block;
             width:100%;
             height:50px;
             font-size: 16px;
             margin-top:10px;
             line-height: 35px;
         }
     }
 }